@media (max-width:1220px){
  .container{
    max-width: 960px;
  }
  .header {
    height: 65px;
    &__logo {
      height: 50px;
      width: 50px;
      margin-left: 35px;
    }
    &__textbox {
      width: 600px;
      margin-top: 10px;
      margin-left: 50px;
    }
    &__text-item {
      &--left {
        font-size: 30px;
      }
      &--right {
        font-size: 18px;
        margin-top: 12px;
        margin-right: 30px;
      }
    }
    &__menu-btn {
      height: 35px;
      width: 35px;
      background-size: 35px 35px;
      margin-left: 40px;
      margin-top: 12px;
    }
  }
  .lang {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 25px;
  }
  .menu {
    width: 960px;
    height: 65px;
    &__list {
      width: 885px;
      height: 40px;
    }
    &__item {
      font-size: 22px;
      width: 200px;
      height: auto;
    }
    &__btn {
      height: 35px;
      width: 35px;
      border: none;
      margin-right: 42px;
      margin-top: 22px;
    }
  }
  .page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__title {
      font-size: 34px;
      margin: 20px 0px 15px;
    }
  }
  .block-image {
    width: 100%;
    height: auto;
    margin: 0;
    flex-direction: column;
    align-items: center;

  &__left {
    position: relative;
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 160px;
    height: 155px;
  }
  &__right {
    position: relative;
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 355px;
    height: 105px;
    position: static;
    &-left {
      &:nth-child(odd){
        img{
          margin-right: 10px;
        } 
      }
      &:nth-child(even){
        flex-direction: row-reverse;
        text-align: right;
        img{
          margin-left: 10px;
        }     
      }
    }

    &-right {
      justify-content: space-between;
      &:nth-child(odd){
        flex-direction: row-reverse;
      }
      &:nth-child(even){
        text-align: right;
      }
    }
  }
  &__card-icon {
    height: 90px;
    width: 80px;
  }
  &__textbox {
    width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 0px;
  }
  &__textbox-right {
    margin-right: 0px;
  }
  &__card-title {
    font-size: 22px;
    width: 100%;
  }
  &__card-text {
    font-size: 20px;
  }
  &__center-img {
    height: 90px;
    width: 90px;
  }
  }
  .skill-page {
    margin-top: 25px;
    height: auto;
    &__left {
      height: 130px;
    }
    &__center {
      width: 160px;
      height: 160px;
      border-radius: 100px;
      background-color: #fff;
    }
    &__right {
      height: 130px;
    }
    &__center-img {
      height: 160px;
      width: 160px;
    }
    &__card {
      width: 285px;
      .block-image__textbox{
        width: auto;
      }
  
      &-right {
        justify-content: flex-end;
      }
      
    }
  }
}

@media (max-width: 992px){
  .container{
    max-width: 720px;
  }
  .header {
    &__logo {
      height: 50px;
      width: 50px;
      margin-left: 30px;
    }
    &__textbox {
      width: 410px;
      margin-top: 10px;
      margin-left: 25px;
    }
    &__text-item {
      &--left {
        font-size: 27px;
      }
      &--right {
        font-size: 15px;
      }
    }
    &__menu-btn {
      height: 30px;
      width: 30px;
      background-size: 30px 30px;
      margin-left: 30px;
      margin-top: 10px;
    }
  }
  .lang {
    font-size: 16px;
  }
  .menu {
    width: 720px;
    &__list {
      width: 640px;
      height: 40px;
    }
    &__item {
      font-size: 20px;
      width: 200px;
    }
    &__btn {
      height: 30px;
      width: 30px;
      border: none;
      margin-right: 40px;
      margin-top: 15px;
    }
  }
  .page {
    &__title {
      font-size: 29px;
      margin: 15px 0px 10px;
    }
  }  
  .block-image {
  &__left {
    position: relative;
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 140px;
    height: 135px;
  }
  &__right {
    position: relative;
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 105px;
    position: static;
    &-left {
      &:nth-child(even){
        flex-direction: row-reverse;
      }
    }

    &-right {
      justify-content: space-around;
      &:nth-child(odd){
        img{
          margin-right: 10px;
        }
        flex-direction: row-reverse;
      }
      &:nth-child(even){
        text-align: right;
        img{
          margin-left: 10px;
        } 
      }
    }
  }
  &__card-icon {
    height: 80px;
    width: 70px;
  }
  &__textbox {
    width: 245px;
    margin-left: 0px;
  }
  &__textbox-right {
    margin-right: 0px;
  }
  &__card-title {
    font-size: 20px;
  }
  &__card-text {
    font-size: 16px;
  }
  &__center-img {
    height: 90px;
    width: 90px;
  }
  }
  .skill-page {
    &__left {
      height: 120px;
    }
    &__center {
      width: 140px;
      height: 140px;
      border-radius: 100px;
      background-color: #fff;
    }
    &__right {
      height: 120px;
    }
    &__center-img {
      height: 140px;
      width: 140px;
    }
    &__card-left{
      &:nth-child(2) {
        .block-image__textbox {
          width: 155px;
        }
      }
    }
  }
}

@media (max-width: 768px){
  .container{
    max-width: 540px;
  }
  .header {
    &__logo {
      height: 45px;
      width: 45px;
      margin-left: 25px;
    }
    &__textbox {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 260px;
      margin-top: 10px;
      margin-left: 25px;
    }
    &__text-item {
      &--left {
        font-size: 24px;
      }
      &--right {
        font-size: 12px;
        margin-top: 5px;
      }
    }
    &__menu-btn {
      height: 25px;
      width: 25px;
      background-size: 25px 25px;
      margin-left: 25px;
      margin-top: 10px;
    }
  }
  .lang {
    font-size: 14px;
  }
  .menu {
    width: 540px;
    &__list {
      width: 460px;
      height: 40px;
    }
    &__item {
      font-size: 18px;
      width: auto;
    }
    &__btn {
      height: 25px;
      width: 25px;
      border: none;
      margin-right: 30px;
      margin-top: 15px;
      background-size: 25px 24px;
    }
  }
  .page {
    &__title {
      font-size: 26px;
      margin: 10px 0px 5px;
    }
  }
  
  .block-image {
  &__left {
    height: 120px;
  }
  &__center {
    width: 120px;
    height: 120px;
  }
  &__right {
    width: 100%;
    height: 120px;
  }
  &__card {
    height: 105px;
    &-left {
      &:nth-child(2){
        .block-image__textbox {
          width: 205px;
        }
      }
    }
  }
  &__card-icon {
    height: 70px;
    width: 60px;
  }
  &__textbox {
    width: 160px;
    margin-left: 0px;
  }
  &__textbox-right {
    margin-right: 0px;
  }
  &__card-title {
    font-size: 17px;
  }
  &__card-text {
    font-size: 13px;
  }
  &__center-img {
    height: 90px;
    width: 90px;
  }
  }
  .skill-page {
    &__left {
      height: 100px;
    }
    &__center {
      width: 120px;
      height: 120px;
      border-radius: 100px;
      background-color: #fff;
    }
    &__right {
      height: 100px;
    }
    &__center-img {
      height: 120px;
      width: 120px;
    }
    &__card-left{
      &:nth-child(2) {
        .block-image__textbox {
          width: 155px;
        }
      }
    }
  }
}

@media (max-width: 576px){
  .container{
    max-width: 400px;
  }
  .header {
    &__logo {
      height: 40px;
      width: 40px;
      margin-left: 20px;
    }
    &__textbox {
      width: 170px;
      margin-top: 7px;
      margin-left: 20px;
    }
    &__text-item {
      &--left {
        font-size: 21px;
      }
      &--right {
        font-size: 11px;
        margin-top: 2px;
      }
    }
    &__menu-btn {
      height: 20px;
      width: 20px;
      background-size: 20px 20px;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  .lang {
    font-size: 13px;
    margin-top: 27px;
  }
  .menu {
    width: 400px;
    &__list {
      width: 320px;
      height: 40px;
    }
    &__item {
      font-size: 16px;
      width: auto;
    }
    &__btn {
      height: 20px;
      width: 20px;
      margin-right: 15px;
      margin-top: 15px;
      background-size: 20px 20px;
    }
  }
  .page {
    &__title {
      font-size: 24px;
      margin: 5px 0px 0px;
    }
  }
  
  .block-image {
  &__left {
    height: 100px;
  }
  &__center {
    width: 90px;
    height: 90px;
  }
  &__right {
    width: 100%;
    height: 100px;
  }
  &__card {
    height: 75px;
    &-left {
      &:nth-child(2){
        .block-image__textbox {
          width: 160px;
        }
      }
    }
  }
  &__card-icon {
    height: 60px;
    width: 50px;
  }
  &__textbox {
    width: 130px;
    margin-left: 0px;
  }
  &__textbox-right {
    margin-right: 0px;
  }
  &__card-title {
    font-size: 15px;
  }
  &__card-text {
    font-size: 10px;
  }
  &__center-img {
    height: 70px;
    width: 70px;
  }
  }
  .skill-page {
    &__left {
      height: 80px;
    }
    &__center {
      width: 100px;
      height: 100px;
    }
    &__right {
      height: 80px;
    }
    &__center-img {
      height: 100px;
      width: 100px;
    }
    &__card-left{
      &:nth-child(2) {
        .block-image__textbox {
          width: 115px;
        }
      }
    }
  }
}

@media (max-width: 430px){
  .container{
    max-width: 300px;
  }
  .header {
    &__logo {
      height: 35px;
      width: 35px;
      margin-left: 10px;
    }
    &__textbox {
      width: 145px;
      margin-top: 7px;
      margin-left: 20px;
    }
    &__text-item {
      &--left {
        font-size: 19px;
      }
      &--right {
        font-size: 10px;
        margin-right: 0;
      }
    }
    &__menu-btn {
      height: 15px;
      width: 15px;
      background-size: 15px 15px;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  .lang {
    font-size: 12px;
    margin-top: 27px;
    margin-left: 0;
    width: 60px;
  }
  .page {
    &__title {
      font-size: 18px;
      margin: 5px 0px 0px;
    }
  }
  .menu {
    width: 300px;
    &__list {
      width: 270px;
      height: 40px;
    }
    &__item {
      font-size: 14px;
      width: auto;
    }
    &__btn {
      height: 15px;
      width: 15px;
      margin-right: 5px;
      margin-top: 15px;
      background-size: 15px 15px;
    }
  }
  .block-image {
    &__left {
      height: 80px;
    }
    &__center {
      width: 70px;
      height: 70px;
    }
    &__right {
      width: 100%;
      height: 80px;
    }
    &__card {
      height: 60px;
      &-left {
        &:nth-child(2){
          .block-image__textbox {
            width: 125px;
          }
        }
      }
    }
    &__card-icon {
      height: 30px;
      width: 30px;
    }
    &__textbox {
      width: 105px;
      margin-left: 0px;
    }
    &__textbox-right {
      margin-right: 0px;
    }
    &__card-title {
      font-size: 11px;
    }
    &__card-text {
      font-size: 8px;
    }
    &__center-img {
      height: 55px;
      width: 50px;
    }
    .skill-page {
      &__left {
        height: 50px;
      }
      &__center {
        width: 80px;
        height: 80px;
      }
      &__right {
        height: 50px;
      }
      &__center-img {
        height: 80px;
        width: 80px;
      }
      &__card-left{
        &:nth-child(2) {
          .block-image__textbox {
            width: 115px;
          }
        }
      }
    }
  }
}