@import "~normalize.css/normalize";
@import "fonts";
$accent: #1b976a;
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

button {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  position: absolute;
  top: -100px;
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  background-color: #fff;
  &__list {
    width: 955px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    font-family: "PlayfairDisplay-Regular";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1em;
    width: 200px;
    height: 40px;
    text-align: center;
  }
  &__btn {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    background-image: url("../images/cancel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    margin-top: 22px;
    z-index: 9;
  }
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid rgba(#3e3a3a, 0.5);
  &__logo {
    height: 60px;
    width: 60px;
    margin-left: 45px;
  }
  &__textbox {
    height: 40px;
    width: 830px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 70px;
  }
  &__text-item {
    &--left {
      width: auto;
      height: 40px;
      font-family: "PlayfairDisplay-Bold", sans-serif;
      font-weight: 700;
      font-size: 32px;
      line-height: 1.1em;
      text-align: left;
    }
    &--right {
      width: auto;
      height: 40px;
      font-family: "PlayfairDisplay-Regular", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.4em;
      text-align: right;
      margin-top: 12px;
      margin-right: 30px;
    }
  }
  &__menu-btn {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    background: url("../images/menu.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-left: 47px;
    margin-top: 22px;
  }
}

.page {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__title {
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1em;
    margin: 25px 0px 20px;
  }
}

.block-image {
  width: 1190px;
  height: 260px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  &__left {
    position: relative;
    width: 440px;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 160px;
    height: 155px;
    border-radius: 100px;
    background-color: rgba(78, 189, 136, 0.32);
  }
  &__right {
    position: relative;
    width: 440px;
    height: 243px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 355px;
    height: 105px;
    position: absolute;
    &-left {
      left: 5px;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        bottom: 0px;
        width: 405px;
        .block-image__textbox {
          width: 305px;
        }
      }
    }
    &-right {
      justify-content: flex-end;
      &:nth-child(1) {
        top: 0px;
        right: 5px;
      }
      &:nth-child(2) {
        bottom: 0px;
        right: 5px;
      }
    }
  }
  &__card-icon {
    height: 90px;
    width: 80px;
  }
  &__textbox {
    width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
  }
  &__textbox-right {
    margin-left: 0;
    margin-right: 5px;
  }
  &__card-title {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.1em;
    color: $accent;
  }
  &__card-text {
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1em;
    color: $accent;
  }
  &__center-img {
    height: 90px;
    width: 90px;
  }
}

.skill-page {
  height: 455px;
  &__left {
    height: 245px;
  }
  &__center {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #fff;
  }
  &__right {
    height: 245px;
  }
  &__center-img {
    height: 200px;
    width: 200px;
  }
  &__card {
    width: 285px;
    &-left {
      left: 5px;
      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        bottom: 0px;
        width: 300px;
        .block-image__textbox {
          width: 264px;
        }
      }
    }

    &-right {
      justify-content: flex-end;
      .block-image__textbox{
        align-items: center;
      }
      &:nth-child(1) {
        top: 0px;
        right: 5px;
      }
      &:nth-child(2) {
        bottom: 0px;
        right: 5px;
      }
    }
  }
  &__card-text {
    font-family: "Montserrat-Bold", sans-serif;
  }
}
.portfolio {
  width: 100%;
  // min-height: 620px;
  text-align: center;
  &__title {
    margin-bottom: 40px;
  }
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    height: 350px;
    width: 570px;
    // background: #7E33F9;
    background: #14c063;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  &__item-title {
    font-family: "Ubuntu-Bold";
    font-weight: bold;
    font-size: 24px;
    line-height: 1.1em;
    color: #fff;
    height: 81px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item-img {
    height: 265px;
    width: 560px;
    border-radius: 15px;
  }

  &__popup{
    display: none;
    height: 0;
    opacity: 0;
    width: 560px;
    border-radius: 15px;
    background-color: rgba(#000, 0.5);
    position: absolute;
    left: 5px;
    bottom: 4px;
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1em;
    padding: 20px 10px;
    text-shadow: 0px 0px 5px #000;
  }
  &__popup-title{
    color: #fff;
    padding-bottom: 10px;
  }
  &__popup-text{
    text-align: left;
    color: #fff;
  }
}

.contacts {
  width: 100%;
  height: 175px;
  text-align: center;
  &__text {
    display: block;
    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1em;
    text-align: center;
    padding-bottom: 20px;
  }
  &__btn {
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url("../images/telegram.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.lang {
  display: flex;
  justify-content: flex-start;
  width: 80px;
  height: 40px;
  font-family: "PlayfairDisplay-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4em;
  margin-top: 25px;
  margin-left: 25px;
  &__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__label--ua::after{
    content: '|';
    padding-left: 5px;
    padding-right: 5px;
  }
  &__radio:checked + label > a {
    font-family: "PlayfairDisplay-Bold", sans-serif;
    font-weight: 700;
  }
  &__link{
    color: #000;
  }
}
